<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
	<title>Account Details</title>
  
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
	<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
	
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="../css/style2.css">
  <link rel="stylesheet" href="../css/footer.css">

</head>
<body style="background-color: #251516;">
  <div id="particles-js"></div>
<!--Header-->
<header>
    <nav style="background:rgba(0, 0, 0, 0.39);">
    <div class="nav-wrapper">
      <a href="balance.html" class="brand-logo">Lingotts</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      
         <li><a href="#">About</a></li>
          <li><a href="#">White paper</a></li>
           <li><a href="#">Project</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <br>
  <br>
  <br>
  <br>
  <div  class="row container center-align">
 <h3>Unfolding the true power of blockchain</h3>
 <h5 style=" font-style: oblique;">Giving cash-flow to your staking ether while using a safer more stable token</h5>
<br>
  <br>

  <div class="container">
      <div class="col s6"><a href="login.html" class="btn waves-effect waves-light orange darken-3 anchoBoton">Log in</a></div>
      <div class="col s6"> <a href="singup.html" class="btn waves-effect waves-light orange darken-3 anchoBoton">Sing up</a></div>
    </div>
  
    </div>
</main>
<!--Footer-->
<footer class="page-footer" style="background:rgba(0, 0, 0, 0.39);"">
     <div class="footer-copyright">
        <div class="container center-align">Lingotts | Blockchainthon 2017 | Madrid</div>
     </div>
   </footer>
   <script type="text/javascript" src="../particles.js"></script>
<script type="text/javascript" src="../app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
   <script type="text/javascript" src="../particles.js"></script>

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- <script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
	<script src="/app.js"></script>
	<script src="/controllers/users.js"></script>-->
	<script src="/controllers/votes.js"></script>
</body>
</html>