<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Lingotts</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
<link rel="stylesheet" href="../css/style2.css">

</head>
<body style="background-color: #0070c0;">
  <div id="particles-js"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="landing.html"><h1 class="center-align">LINGOTTS</h1></a>
<form class="container center-align">
  <div class=" container input-field col s6" style="color: white;width: 400px !important;">
          <input id="first_name" type="text" style="color: white;" class="validate">
          <label for="first_name" style="color: white;">Nickname</label>
        </div>
        <button class="btn waves-effect waves-light orange darken-3" name="action" >
    <a href="balance.html" style="color: white; width: 250px !important">Log in</a>
 
</form>

<script type="text/javascript" src="../particles.js"></script>
<script type="text/javascript" src="../app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>