<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Proposal Creation</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
	<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
	
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/footer.css">

</head>
<body>
<!--Header-->
<header>
    <nav style="background:rgba(0, 0, 0, 0.39);">
    <div class="nav-wrapper">
      <a href="balance.html" class="brand-logo">Lingotts</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="balance.html">Account</a></li>
        <li><a href="landing.html">Log out</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container">
        <h2>Creating a proposal</h2>
        <form ng-submit="addForm()">
        	<form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light orange darken-3" type="submit" name="action">Create
  </button>
    </form>
    <br>
 </div>
</main>
<!--Footer-->
<footer class="page-footer" style="background:rgba(0, 0, 0, 0.39);"">
     <div class="footer-copyright">
        <div class="container center-align">Lingotts | Blockchainthon 2017 | Madrid</div>
     </div>
   </footer>
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        
	<!-- <script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
	<script src="/app.js"></script>
	<script src="/controllers/users.js"></script>-->
	<script src="/controllers/votes.js"></script>
</body>
</html>