<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Lingotts-sing up</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
<link rel="stylesheet" href="../css/style2.css">

</head>
<body style="background-color: #0070c0;">
  <div id="particles-js"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="landing.html"><h1 class="center-align">LINGOTTS</h1></a><form class="container row center-align">
  <div class=" container input-field col s6 offset-s3" style="color: white;width: 400px !important;">
          <input id="first_name" type="text" style="color: white;" class="validate" required="required">
          <label for="first_name" style="color: white;">Nickname</label>
        </div>
        <div class="container input-field col s6 offset-s3" style="color: white;width: 400px !important;">
          <input id="first_name" type="email" style="color: white;" class="validate" required="required">
          <label for="first_name" style="color: white;">Email</label>
        </div>
         <div class=" col s6 offset-s3" style="color: white;width: 400px !important;">
 
      <input type="checkbox" id="agree" class="validate"/>
      <label for="agree" style="color: white;">I agree terms and conditions</label>
    
  </div>

<div class="container col s6 offset-s3">
  <br>
  <br>
        <button class="btn  waves-effect waves-light orange darken-3" name="action" >
    <a href="landing.html" style="color: white; width: 250px !important">Sing up</a>
    </button>
 
</div>
</form>

<script type="text/javascript" src="../particles.js"></script>
<script type="text/javascript" src="../app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</script>
</body>
</html>